{% extends 'base.html' %}

{% block content %}
<h1>PRODUTOS</h1>
<a href="{{ url_for('cadastrar') }}" class="btn btn-primary">Novo Produto</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Estoque</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for produtos in produtos %}
        <tr>
            <td>{{ produtos.nome }}</td>
            <td>{{ produtos.descricao }}</td>
            <td>{{ produtos.preco }}</td>
            <td>{{ produtos.estoque }}</td>
            <td>
                <a href="{{ url_for('editar', id=produtos.id) }}" class="btn btn-warning">Editar</a>
                <a href="{{ url_for('deletar', id=produtos.id) }}" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}