<!-- app/templates/login.html -->
{% extends 'base.html' %}

{% block content %}
<div class="login">
    <h1>Login</h1>
    <form method="post">
        <label for="username"><i class="fas fa-user"></i></label>
        <input type="text" name="username" placeholder="Usuário" id="username" required>
        <label for="password"><i class="fas fa-lock"></i></label>
        <input type="password" name="password" placeholder="Senha" id="password" required>
        <input type="submit" value="Login">
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
    </form>
</div>
{% endblock %}